@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap');

*{
      margin:0;
      padding:0;
      font-family: 'Epilogue', sans-serif;
}
:root{
      --primary-color:hsl(0, 0%, 98%);
      --black:hsl(0, 0%, 8%);
      --gray:hsl(0, 0%, 41%);
      --fnt-sm:1rem;
      --fnt-sm2:.8rem;
      --fnt-m:1.4rem;
      --fnt-lrg:2rem;
}
h1,h2,h3{
      font-size: var(--fnt-lrg);
      color: var(--black);
}
p{
      font-size: var(--fnt-sm);
      color: var(--gray);
}
body{
      min-height: 100vh;
      background-color: var(--primary-color);
}
.header{
      padding: 1rem 1.5rem;
      position: relative;
}
.nav{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.nav__main{
      display: none;
      flex-direction: column;
      padding: 3.5rem 5rem 0 1rem;
      position: fixed;
      gap: 1rem;
      right: 0;
      height: 100vh;
      top: 0;
      background-color: aquamarine;
}
.nav__logo{
      font-size: var(--fnt-sm);
}
.nav__open{
      font-size: var(--fnt-lrg);
}
.nav__left{
      
}
.nav__links {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: left;
      list-style: none;

}
.link{
      padding: .5em;
}
.link a{
      text-decoration: none;
}
.show_menu{
      display: flex;
}

@media  screen and (min-width:500px) {
      .nav__open{
            display: none;
      }
      .nav{
            justify-content: space-evenly;
      }
      .nav__main{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            background-color: rgb(250, 253, 253);
            align-items: center;
            position: relative;
            margin-left:20px ;
            padding: 0;
            height: 100%;
      }
      .nav__links {
            display: flex;
            font-size: var(--fnt-sm);
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            list-style: none;
      
      }
}