@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap');

*{
      margin:0;
      padding:0;
      font-family: 'Epilogue', sans-serif;
}
:root{
      --primary-color:hsl(0, 0%, 98%);
      --black:hsl(0, 0%, 8%);
      --gray:hsl(0, 0%, 41%);
      --fnt-sm:1rem;
      --fnt-sm2:.8rem;
      --fnt-m:1.5rem;
      --fnt-lrg:2rem;
}
h1,h2,h3{
      font-size: var(--fnt-lrg);
      color: var(--black);
}
p{
      font-size: var(--fnt-sm);
      color: var(--gray);
}
body{
      min-height: 100vh;
      background-color: var(--primary-color);
}
.header{
      padding: 1.5rem 1.5rem;
      position: relative;
}
