@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap');

*{
      margin:0;
      padding:0;
      font-family: 'Epilogue', sans-serif;
}
:root{
      --primary-color:hsl(0, 0%, 98%);
      --black:hsl(0, 0%, 8%);
      --gray:hsl(0, 0%, 41%);
      --fnt-sm:1rem;
      --fnt-sm2:.9rem;
      --fnt-m:1.5rem;
      --fnt-lrg:2rem;
}
h1,h2,h3{
      font-size: var(--fnt-lrg);
      color: var(--black);
}
img{
      max-width: 100%;
      height: auto;
}
p{
      font-size: var(--fnt-sm);
      color: var(--gray);
}
body{
      min-height: 100vh;
      background-color: var(--primary-color);
}
.header{
      padding: 2.5rem 1.5rem;
      background-color: var(--primary-color);
      height: 2rem;

}
.nav{
      display: flex;
      justify-content: space-between;
}
.nav__left{
      display: flex;
      justify-content: space-between;
      gap: 2rem;
}
.nav__logo img{
      width: 90%;
}
.nav__links{
      display:flex;
      justify-content: space-around;
      gap: 2rem;
      font-size: var(--fnt-sm);
      font-weight: 600;
}
.dropdown{
      position: relative;
}
.link__dropdown{
      margin-top: 0rem;
      border-radius: 5px;
      box-shadow: 10px 10px 10px;
      position:relative;
      margin-top: 10px;
      right: 5px;
      padding: .8rem 1.2rem;
      background-color: var(--primary-color);
      overflow-y:hidden;
}
.dropdown__item {
      display: flex;
      margin-top: 10px ;
      align-items: center;
      gap: .8rem;
}

.dropdown__item img{
      width: 15px;
}
.dropdown__item h4{
      text-align: left;
      font-weight: 400;
      color: var(--gray);
      font-size: var(--fnt-sm2);
}